.subreddits-list {
  margin: var(--spacing-2);
  margin-left: 0;
  background: var(--color-foreground);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
  padding: var(--spacing-3);
  transition: box-shadow 0.1s ease-in;
  color: var(--color-text-secondary);
}

.subreddits-list:hover {
  box-shadow: var(--box-shadow-hover);
}

.subreddits-list h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-text-header);
  margin-bottom: 2rem;
}

.subreddits-list button {
background: none;
  border: none;
  display: flex;
  align-items: center;
  color: var(--color-text-body);
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  padding: var(--spacing-2);
  border-radius: var(--radius);
}

.current-subreddit button {
  color: var(--color-accent);
}

.current-subreddit {
  border-left: 5px solid var(--color-accent);
  background: var(--color-accent-transparent);
}

.subreddits-list button:hover {
  background: var(--color-on-hover);
}

.subreddit-icon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: var(--spacing-1);
}
