header {
  background: var(--color-foreground);
  box-shadow: var(--box-shadow);
  height: 6.4rem;
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-3);
  position: sticky;
  top: 0px;
  grid-column: 1/-1;
}

header>* {
  flex: 1 33.3;
}

header .reddit-logo {
  display: flex;
  align-items: center;
  margin-right: var(--spacing-2);
  font-weight: bold;
}
 
header .reddit-icon {
  font-size: 3.2rem;
  margin-right: var(--spacing-1);
  color: var(--color-branding);
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-form input {
 flex-grow: 1;
  background: var(--color-background-secondary);
  border: none;
  padding: var(--spacing-1) var(--spacing-2);
  height: max-content;
  max-width: 60rem;
  border-radius: var(--radius);
}

header .menu-button {
  display: flex;
  justify-content: right;
  margin-left: var(--spacing-2);
}
