:root {
  --color-background: #eaeaf0;
  --color-background-secondary: #f3f3f3;
  --color-background-votes: #f9f9f9;
  --color-foreground: #ffffff;
  --color-border: #e6e6e6;
  --color-text-header: #444444;
  --color-text-body: #6f6f6f;
  --color-text-secondary: #717171;
  --color-text-invert: #ffffff;
  --color-text-link: #0969AA;
  --color-accent: #3F54BF;
  --color-accent-transparent: #3F54BF40;

  --color-alert: #ff3232;
  --color-success: #00e500;
  --color-on-hover: #0000000f;

  --box-shadow-hover: 0 20px 25px -5px rgba(0, 0, 0, 0.1);

  --spacing-0: 0.4rem;
  --spacing-1: 0.8rem;
  --spacing-2: 1.6rem;
  --spacing-3: 2.4rem;
  --spacing-4: 3.6rem;
  --spacing-5: 6.4rem;

  --radius: 0.4rem;
}
