html {
  font-size: 62.5%;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background: var(--color-background);
  color: var(--color-text-body);
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-gap: var(--spacing-2); */
}

aside {
position: fixed;
  right: 0;
  max-width: 0;
  top: 6.4rem;
  bottom: 0;
  overflow-y: scroll;
  transition: 500ms;
}

.sidebar-visible {
  max-width: 100%;

}

.no-scroll {
  overflow: hidden;
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 42.5rem) {
  #root {
    grid-template-columns:repeat(4, 1fr);
  }

  header {
    padding: 0 var(--spacing-5);
  }

  main {
    grid-column: 1/4;
  }

  aside {
    justify-self: start;
    display: block;
    position: static;
    max-width: 100%;
  }
}

@media only screen and (min-width: 75rem) {
  #root {
    grid-template-columns:repeat(5, 1fr);
  }

  main {
    grid-column: 2/5;
  }
}

@media only screen and (min-width: 100rem) {
  #root {
    grid-template-columns:repeat(7, 1fr);
  }

  main {
    grid-column: 3/6;
  }
}

@media only screen and (min-width: 150rem) {
  #root {
    grid-template-columns:repeat(9, 1fr);
  }

  main {
    grid-column: 4/7;
  }
}
