.post {
  background: var(--color-foreground);
  box-shadow: var(--box-shadow);
  margin: var(--spacing-2);
  margin-bottom: var(--spacing-3);
  border-radius: var(--radius);
  /* padding: var(--spacing-2); */
  transition: box-shadow 0.1s ease-in;
  color: var(--color-text-secondary);
}

.post:hover {
  box-shadow: var(--box-shadow-hover);
}

.post-wrapper {
  display: flex;
}

.post-container,
.post-image-container,
.post-image
{
  width: 100%;
}

.post-video-container {
  display: flex;
  justify-content: center;
}

.post-video {
  max-width: 100%;
}

.post-text {
  line-height: 1.5;
  margin: 0 var(--spacing-1);
}

.post-footer {
  font-size: 1.2rem;
  margin: var(--spacing-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-votes-container {
  /* margin-right: var(--spacing-1); */
  padding: var(--spacing-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background-votes);
  min-width: 4rem;
}

.post-votes-container .post-votes-number {
  margin: var(--spacing-1) 0;
  font-weight: bold;
}

.post-title {
  margin: var(--spacing-2) var(--spacing-1);
  font-size: 1.17em;
  font-weight: 700;
  color: var(--color-text-header)
}

.icon-action {
  font-size: 2.4rem;
}

.icon-action-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text-secondary);
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: var(--radius);
}

.post-votes-number.vote-up {
  color: var(--color-success) !important;
}

.post-votes-number.vote-down {
  color: var(--color-alert) !important;
}

.post-vote-up:hover {
  color: var(--color-success) !important;
}

.post-vote-up.active {
  color: var(--color-success) !important;
}

.post-vote-down:hover {
  color: var(--color-alert) !important;
}

.post-vote-down.active {
  color: var(--color-alert) !important;
}

.icon-action-button:hover {
  background: var(--color-on-hover);
}

.post-comments-container {
  display: flex;
  align-items: center;
}

.post-comments-container .icon-action {
  margin-right: var(--spacing-0);
}

.comments-visible {
  color: var(--color-accent);
}
